
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;

}
.nav-items{
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 24px;
}

.nav-items > ul > li {
  margin-right: 20px;
  padding: 10px;
}
.logo{
  width: 100px;
}

.res-card{
  
  width: 200px;
  height: 300px;
  border: 1px solid #050505;
}

.res-card > img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}