
.header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;

}
.nav-items{
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 24px;
}

.nav-items > ul > li {
  margin-right: 20px;
  padding: 10px;
}
.logo{
  width: 100px;
}

.res-logo{
  width: 100%;
}

.search{
  padding: 10px;
}

.res-card{
  width: 200px;
  height: 300px;
  padding: 5px;
}

.res-card:hover{
  cursor: pointer;
  border: 1px solid #e0e0e0;
}

